
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html body{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.min{
    min-height: 400px;
}
/* navbar */

nav{
    position: sticky;
    top: 0%;
    padding: 30px 0;  
    border: 5px solid black;
    background-color: #181818;  
}
.nav-link{
    color:#F2F2F2 !important;
    transition: 0.3s ease;
}
.nav-link:hover,.nav-link:active{
    color: #5CB8E4 !important;
}

h2{
    color: #F2F2F2;
}
.raff{
    transition: .3s ease    ;
}
.raff:hover{
    color: white;
}
section{
    min-height: 400px;
}
/* home */
.home{
    display: flex;
    top: 40px;
    height: 450px; 
    background-color: #F2F2F2;
}
.intro-cont{
    text-align: center;
    padding: 70px 0;
}
.text1{
    text-align: center;
}
.home .max-witdh{
    width: 100%;
}
.nes-container{
    border-radius: 50px;
    max-height: 100px;
}
/* body About me */
.body{
    display: flex;
    background-color: #5CB8E4;
}
.body .max-witdh{
    width: 100%;
}
.body .max-witdh .container{
    margin: 75px auto;
}

/* Skills */
.skills{
    display: flex;
    background-color: #8758FF;
}
.skills .max-witdh{
    width: 100%;
}
.skills .max-witdh .container{
    margin: 75px auto;
}
.skills table{
    height: 150px;
}
.rank{
    color: #f2f2f2;
}


/* Project */
.project{
    display: flex;
    height: 480px; 
    background-color: #f2f2f2;
}
.project .max-witdh{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */
footer{
    padding: 20px 0;
    font-size: 10px;
    text-align: center;
    background-color: #181818; 
    color: #F2F2F2;
}